.body {
    background-color: #000;
}

.divider {
    background-color: #eee;
}

#intro-example {
    background-image: url('../img/1.jpg');
    height: 400px;
}


/* Height for devices larger than 992px */

@media (min-width: 992px) {
    #intro-example {
        height: 600px;
    }
}

.plans {
    background-image: url('../img/4.jpg');
    height: 300px;
}