RewriteEngine on
php_value session.auto_start 1

RewriteRule ^index$ index.php [L]
RewriteRule ^professional$ professionalinfo.php [L]
RewriteRule ^admin$ admin.php [L]
RewriteRule ^adminlogin$ adminlogin.php [L]